body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.header__logo {
  height: 80px;
  vertical-align: top;
  margin:0.5em;
  float: left;
}
.header__title{
  margin-top: 0.5em;
  margin-right: 1em;
  display: inline-block;
  color: #2d3c49;
  vertical-align: top;
}
.header__h1 {
  font-weight: 300;
  font-size: 4em;
}
.header__h2 {
  font-size: 1.5em;
}

/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Hero
 *
 */

.hero {
  width: 100%;
  position: relative;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}



/*
  work
*/
.work {
  display: flex;
  flex-wrap: wrap;
} 

.work_title {
  font-size: 2em;
  font-weight: bold;
  margin-left: 10px;
  color: #7d97ad;
}

.work_img {
  clear: both;
  display: block;
  padding: 30px;
  height:70%;
  width: 70%;
  margin: auto; 
}  

.work_item {
  text-align: center;
} 

.work_item_title {
  font-size: 1.2em;
  font-weight: bold;
}

@media screen and (max-width: 480px){
  .work_img {
    height:50%;
    width: 50%;
  }  
}

@media screen and (min-width: 481px) and (max-width: 960px){
  .work_img {
    height:60%;
    width: 60%;
  }  
}